$accent: #4285F4;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

.text-area {
	background-color: rgba(14, 20, 26, 0.02);
	border: none;
	display: block;
	height:200px;
	margin: 20px 0;
	padding: 20px;
	resize: none;
	width: 100%;

	&.hide-text-area {
		display: none;
	}
}

.progress-group {
	.progress {
		.progress-bar {
			background-color: #FF8600;
		}
	}
}