---
title: "Tutorials"
description: "Tutorials about setting up and using Liferay."
url: "/tutorials/setup/step-one.html/"
weight: 2
---

{namespace tutorialsIndex}

/**
 */
{template .render}
	{@param page: ?}

	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="refresh" content="0; URL='{$page.url}'">
		</head>
	</html>
{/template}
