---
title: "Tutorials"
description: "Tutorials about setting up and using Liferay."
url: "/tutorials/machine/step-one.html/"
weight: 2
---

{namespace tutorialsIndex}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
