---
title: "Setting up your Liferay on your machine"
description: "Tutorial for setting up your machine to run Liferay."
tutorialTitle: "Getting started with with Liferay."
url: "/tutorials/tutorial/step-one.html/"
---

{namespace tutorialFirst}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
